﻿@inherits LayoutComponentBase


<div class="sidebar EatUppSidebar">
    <NavMenu />
</div>

<div style="width: 80%;">
    <div class="top-row" style="border-left: 1px solid #88b3b7; border-bottom: 1px solid #88b3b7; background: #146363;">
        <PersonInfo />
    </div>

    <div class="content px-4 customerPageCont">
        @Body
    </div>
</div>