﻿@inject Authentication authenticationConfig
@inject NavigationManager navManager

<div class="top-row navbar navbar-dark" style="background: #146363; border-bottom: 1px solid #88b3b7">
    <img src="Images/Logo.png" class="img-fluid" style="height: 100%" alt="Responsive image">
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Customer" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Orders">
                <span class="oi oi-plus" aria-hidden="true"></span> Orders
            </NavLink>
        </li>
        <li class="nav-item px-3" style="bottom: 0px; position: absolute;">
            <NavLink class="nav-link" @onclick="Logout">
                <span class="oi oi-plus" aria-hidden="true"></span> Logout
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private async void Logout()
    {
        await authenticationConfig.SetTokenAsync(null);
        navManager.NavigateTo("/");
    }
}