﻿@inject HttpClient http
@inject Authentication authenticationConfig

<div class="OrderCard">
    <div class="OrderCardName">
        <img class="PersonIcon" src="Images/customer.png" />
    </div>
    <div style="color: white;">
        <h5 style="margin-left: 20px;">New Order !</h5>
        <div class="card-body">
            <p>@Order.Customer.Firstname</p>
            <p>@Order.Customer.Lastname</p>
            <p>Order Time: @Order.OrderDate</p>
            <p>People: @Order.ChairCount</p>
            <p>Email: @Order.Customer.Email</p>
            <p>Phone: @Order.Customer.Phone</p>
        </div>
    </div>
    <div style="margin-top: 10%">
        <button class="EatUppBtn btn" @onclick="Approve">Approve</button>
        <button class="EatUppBtnReject btn" @onclick="Reject">Reject</button>
    </div>
</div>

@functions
{
    [Parameter]
    public OrderViewModel Order { get; set; }

    [Parameter]
    public EatUppClient Client { get; set; }

    private async void Approve()
    {
        var result = await http.PostJsonAsync<OrderStatus>("https://localhost:5001/api/Restaurant/Approve", new ApproveModel
        {
            IsApproved = true,
            OrderId = Order.Id
        });

        if (result == OrderStatus.Approved)
            Client.Approve(Order.Customer.Email, Order.Id);
    }

    private async void Reject()
    {
        var result = await http.PostJsonAsync<OrderStatus>("https://localhost:5001/api/Restaurant/Approve", new ApproveModel
        {
            OrderId = Order.Id,
            IsApproved = false
        });

        if (result == OrderStatus.Rejected)
            Client.Reject(Order.Customer.Email, Order.Id);
    }
}
