﻿<div class="personInfoCont" style="border-bottom: 1px solid #88b3b7">
    <div style="margin-right: 10px;">
        <p style="font-size: 17px;font-family: 'Lobster', cursive; color:#bcd4d3; text-align: right; margin: auto;">James Anderson </p>
        <p style="font-size: 11px; font-family: 'Ibarra Real Nova', serif; color:#bcd4d3; text-align: right; margin: auto;">JamesAnderson@Eatup.com</p>
    </div>
    <img src="Images/person.png" class="img-fluid1 PersonIcon" alt="Responsive image" width="75%;">
</div>
