﻿@inject HttpClient Http
@*<div class="text-white restaurantCardCont mb-3">
        <div class="EatUppImage">

        </div>
        <div>
            <p>@Restaurant.RestaurantName</p>
            <p>Adress: @Restaurant.Address</p>
            <p>Phone: @Restaurant.Phone</p>
            <p>Email: @Restaurant.Email</p>
            <label>Description</label>
            <p>@Restaurant.RestaurantDescription</p>
        </div>
        <div class="EatUppPercentage">
            <div class="c100 p25">
                <span>25%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <div class="c100 p25">
                <span>25%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <div class="c100 p25">
                <span>25%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <button class="EatUppBtn btn" @onclick="ShowHide">Order</button>

            <div style="display: @displayOrder">
                <EditForm Model="order" OnValidSubmit="PlaceOrder" class="EatUppOrder">
                    <label class="EatUppLabel">When You will come.</label>
                    <InputDate @bind-Value="order.OrderDate" class="EatUppInput form-control" />

                    <label class="EatUppLabel">How many people will come</label>
                    <InputNumber @bind-Value="order.ChairCount" class="EatUppInput form-control" />

                    <div style="display: @displayVIPZone">
                        <InputCheckbox type="checkbox" @bind-Value="order.VIPZone" />
                        <label class="EatUppLabel">In VIP Zone</label>
                    </div>

                    <div style="display: @displaySmokingZone">
                        <InputCheckbox type="checkbox" @bind-Value="order.NonSmokingZone" />
                        <label class="EatUppLabel">In Non-Smoking Zone</label>
                    </div>
                    <button class="EatUppBtn btn form-control" type="submit">Place Order</button>
                </EditForm>
            </div>
        </div>
    </div>*@

<div class="text-white restaurantCardCont mb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="Images/restLogo.jpg" class="img-fluid" alt="Responsive image" width="75%;">
            </div>
            <div class="col-sm-5 list">
                <h2>@Restaurant.RestaurantName</h2>
                <p>Adress: @Restaurant.Address</p>
                <p>Phone: @Restaurant.Phone</p>
                <p>Email: @Restaurant.Email</p>
                <br />
                <div>
                    <p>Description</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel
                        <span id="dots">...</span><span id="more" style="display: none">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
                    </p>
                    <a class="LinkHover" style="float:right; font-size: 12px; font-family: Myriad Pro;" onclick="ReadDecription()" id="myBtn">Read More...</a>
                </div>
            </div>

            <div class="col-sm-4">
                <div style="display:flex; flex-direction: row">
                    <a class="star"><p>★★★★★</p></a>
                    <div class="progress"style="background-color:rgb(255,255,225, 0.3); margin-top: 8px; margin-left: 5px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:11%; background-color:white">
                            11%
                        </div>
                    </div>
                </div>
                <div style="display:flex; flex-direction: row">
                    <a class="star"><p>★★★★</p></a>
                    <div class="progress" style="background-color:rgb(255,255,225, 0.3); margin-top: 8px; margin-left: 5px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:25%; background-color:white">
                            25%
                        </div>
                    </div>
                </div>
                <div style="display:flex; flex-direction: row">
                    <a class="star"><p>★★★</p></a>
                    <div class="progress"style="background-color:rgb(255,255,225, 0.3); margin-top: 8px; margin-left: 5px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:70%; background-color:white">
                            70%
                        </div>
                    </div>
                </div>
                <div style="display:flex; flex-direction: row">
                    <a class="star"><p>★★</p></a>
                    <div class="progress" style="background-color:rgb(255,255,225, 0.3); margin-top: 8px; margin-left: 5px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:33%; background-color:white">
                           33%
                        </div>
                    </div>
                </div>
                <div style="display:flex; flex-direction: row">
                    <a class="star"><p>★</p></a>
                    <div class="progress" style="background-color:rgb(255,255,225, 0.3); margin-top: 8px; margin-left: 5px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:55%; background-color:white">
                            55%
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="EatUppBtn btn" @onclick="ShowHide">Order</button>
                <div style="display: @displayOrder">
                    <EditForm Model="order" OnValidSubmit="PlaceOrder" class="EatUppOrder">
                        <label class="EatUppLabel">When You will come.</label>
                        <InputDate @bind-Value="order.OrderDate" class="EatUppInput form-control" />

                        <label class="EatUppLabel">How many people will come</label>
                        <InputNumber @bind-Value="order.ChairCount" class="EatUppInput form-control" />

                        <div style="display: @displayVIPZone">
                            <InputCheckbox type="checkbox" @bind-Value="order.VIPZone" />
                            <label class="EatUppLabel">In VIP Zone</label>
                        </div>

                        <div style="display: @displaySmokingZone">
                            <InputCheckbox type="checkbox" @bind-Value="order.NonSmokingZone" />
                            <label class="EatUppLabel">In Non-Smoking Zone</label>
                        </div>
                        <button class="EatUppBtn btn form-control" type="submit">Place Order</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{

    [Parameter]
    public RestaurantViewModel Restaurant { get; set; }

    [Parameter]
    public EatUppClient Client { get; set; }

    private OrderModel order;
    private string displayOrder = "none";
    private string displayVIPZone = "block";
    private string displaySmokingZone = "block";

    protected override void OnInitialized()
    {
        order = new OrderModel();

        if (!Restaurant.RVIPZone)
            displayVIPZone = "none";
        if (!Restaurant.RNonSmokingZone)
            displaySmokingZone = "none";
    }

    private async Task PlaceOrder()
    {
        order.RestaurantId = Restaurant.Id;
        PlaceOrderResponse response = await Http.PostJsonAsync<PlaceOrderResponse>("https://localhost:5001/api/Customer/PlaceOrder", order);

        if (!response.Error)
            await Client.PlaceOrder(Restaurant.Email, response.Order);
    }

    private void ShowHide()
    {
        _ = displayOrder == "none" ? displayOrder = "block" : displayOrder = "none";
        StateHasChanged();
    }
}