﻿@inject HttpClient Http
@inject NavigationManager navManager

<div class="EatUppSignPage">
    <EditForm Model="customer" OnValidSubmit="SignUpCustomer" class="EatUppSignUpCont">
        <label class="EatUppLabel">Login</label>
        <InputText @bind-Value="customer.Login" class="EatUppInput form-control" type="text" />

        <label class="EatUppLabel">Password</label>
        <InputText @bind-Value="customer.Password" class="EatUppInput form-control" type="password" />

        <label class="EatUppLabel">First Name</label>
        <InputText @bind-Value="customer.Firstname" class="EatUppInput form-control" type="text" />

        <label class="EatUppLabel">Last Name</label>
        <InputText @bind-Value="customer.Lastname" class="EatUppInput form-control" type="text" />

        <label class="EatUppLabel">Phone</label>
        <InputText @bind-Value="customer.Phone" class="EatUppInput form-control" type="text" />

        <label class="EatUppLabel">Email</label>
        <InputText @bind-Value="customer.Email" class="EatUppInput form-control" type="email" />
    
        <button class="EatUppBtn form-control" type="submit">Sign Up</button>
    </EditForm>
</div>

@code {
    private CustomerInputModel customer = new CustomerInputModel();

    private async void SignUpCustomer()
    {
        var response = await Http.PostJsonAsync<SignUpResponse>("https://localhost:5001/api/User/SignUpCustomer", customer);
        if(!response.Error)
        {
            navManager.NavigateTo("/");
        }
    }
}