﻿@inject HttpClient Http
@inject NavigationManager navManager

<div class="EatUppSignPage">
    <EditForm Model="restaurant" class="EatUppSignUpCont" method="post" OnValidSubmit="SignUpRestaurant">
        <label class="EatUppLabel">Login</label>
        <InputText class="EatUppInput form-control" @bind-Value="restaurant.Login" type="Test" />

        <label class="EatUppLabel">Password</label>
        <InputText class="EatUppInput form-control" @bind-Value="restaurant.Password" type="password" />

        <label class="EatUppLabel">Name</label>
        <InputText class="EatUppInput form-control" @bind-Value="restaurant.RestaurantName" type="text" />

        <label class="EatUppLabel">Address</label>
        <InputText class="EatUppInput form-control" @bind-Value="restaurant.Address" type="text" />

        <label class="EatUppLabel">Phone</label>
        <InputText class="EatUppInput form-control" @bind-Value="restaurant.Phone" type="text" />

        <label class="EatUppLabel">Email</label>
        <InputText class="EatUppInput form-control" @bind-Value="restaurant.Email" type="email" />

        <div>
            <InputCheckbox type="checkbox" name="Vip zone" @bind-Value="restaurant.RVIPZone" />
            <label class="EatUppLabel"> We Have VIP Zone</label>
        </div>

        <div>
            <InputCheckbox type="checkbox" name="Smoking zone" @bind-Value="restaurant.RNonSmokingZone" />
            <label class="EatUppLabel"> We Have Smoking Zone</label>
        </div>

        <label class="EatUppLabel">Description</label>
        <InputTextArea class="EatUppInput form-control" @bind-Value="restaurant.RestaurantDescription"></InputTextArea>

        <button class="EatUppBtn form-control" type="submit">Sign Up</button>
    </EditForm>
</div>

@code
{
    private RestaurantInputModel restaurant = new RestaurantInputModel();

    private async void SignUpRestaurant()
    {
        var response = await Http.PostJsonAsync<SignUpResponse>("https://localhost:5001/api/User/SignUpRestaurant", restaurant);
        if(!response.Error)
        {
            navManager.NavigateTo("/");
        }
    }
}