﻿@inject HttpClient Http
@inject NavigationManager navManager
@inject Authentication authenticationConfig
@inject IJSRuntime jsRuntime

<div class="EatUppHomepage">
    <div class="EatUppSignUpBtnCont">
        <button class="btn EatUppBtn" onclick="window.location.href = '/signRestaurant';">Sign as Restaurant</button>
        <button class="btn EatUppBtn" onclick="window.location.href = '/signCustomer';">Sign as Customer</button>
    </div>

    <div>
        <EditForm Model="user" OnValidSubmit="LogIn" class="EatUppLogInCont" method="post">
            <label class="EatUppLabel">LogIn</label>
            <InputText @bind-Value="user.Login" class="EatUppInput form-control" type="text" />

            <label class="EatUppLabel">Password</label>
            <InputText @bind-Value="user.Password" class="EatUppInput form-control" type="password" />

            <button style="margin-top: 30px;" type="submit" class="btn EatUppBtn">Log In</button>
            <img src="./Images/Loader.svg" style="display: @display; right: 0px; align-self: flex-end; width: fit-content;" />
        </EditForm>
    </div>
</div>

@code {
    private UserInputModel user = new UserInputModel();
    AuthenticationState authState;
    private string display = "none";

    protected override async void OnInitialized()
    {
        authState = await authenticationConfig.GetAuthenticationStateAsync();

        if (authState.User.Identity.IsAuthenticated)
        {
            string role = authState.User.Claims.Where(claim => claim.Type == "role").FirstOrDefault().Value;

            await authenticationConfig.SetAuthorizationHeader();

            switch (role)
            {
                case "Customer":
                    navManager.NavigateTo("/Customer");
                    break;
                case "Restaurant":
                    navManager.NavigateTo("/Restaurant");
                    break;
            }
        }
    }

    private async void LogIn()
    {
        if (display != "block")
        {
            display = "block";

            var response = await Http.PostJsonAsync<SignInResponse>("https://localhost:5001/api/User/LogIn", user);
            if (!response.Error)
            {
                await authenticationConfig.SetTokenAsync(response.Token);

                switch (response.Role)
                {
                    case "Customer":
                        navManager.NavigateTo("/Customer");
                        break;
                    case "Restaurant":
                        navManager.NavigateTo("/Restaurant");
                        break;
                }
            }

            display = "none";
            StateHasChanged();
        }
    }
}
