﻿@page "/Customer"
@inject Authentication authenticationConfig
@inject NavigationManager navManager
@inject HttpClient http
@inject IJSRuntime jsRuntime


@if (restaurantsReceived)
{
    foreach (var restaurant in restaurants)
    {
        <RestaurantCardView Restaurant="restaurant" Client="client" />
    }
}
@code
{
    public string email;

    bool restaurantsReceived;
    private EatUppClient client;
    private IEnumerable<RestaurantViewModel> restaurants;

    protected override async void OnInitialized()
    {
        restaurantsReceived = false;

        var authState = await authenticationConfig.GetAuthenticationStateAsync();

        email = authState.User.Claims.Where(claim => claim.Type == "email").FirstOrDefault().Value;

        if (string.IsNullOrEmpty(http.DefaultRequestHeaders.Authorization?.Parameter))
            await authenticationConfig.SetAuthorizationHeader();

        if (!string.IsNullOrEmpty(email))
        {
            client = new EatUppClient(email, jsRuntime);
            await client.Start();

            EatUppClient.MessageReceived += MessageRecevied;
            EatUppClient.OnRestaurantConnected += NewRestaurant;
            EatUppClient.OnReceiveApprovement += OrderApproved;
            EatUppClient.OnReceiveRejection += OrderRejected;
        }

        restaurants = await http.GetJsonAsync<IEnumerable<RestaurantViewModel>>("https://localhost:5001/api/Customer/GetRestaurants");

        if (restaurants != null)
        {
            restaurantsReceived = true;
            StateHasChanged();
        }

        //ICollection<OrderViewModel> orders = await http.GetJsonAsync<ICollection<OrderViewModel>>("https://localhost:5001/api/Customer/GetOrders");
    }

    private async void Send()
    {
        await client.Send(email, "EatUpp test SignalR");
    }

    

    public void MessageRecevied(string sender, MessageReceivedEventArgs args)
    {
        if (sender == email)
        {
            Console.WriteLine("New Message: {0}", args.Message);
            StateHasChanged();
        }
    }

    // TO DO move to order component
    private void OrderApproved(int orderId)
    {
        Console.WriteLine("Order Number #{0} is Approved", orderId);
    }

    private void OrderRejected(int orderId)
    {
        Console.WriteLine("Order Number #{0} is Rejected", orderId);
    }

    public void NewRestaurant()
    {
        StateHasChanged();
    }
}