﻿@page "/Restaurant"
@inject IJSRuntime jsRuntime
@inject Authentication authenticationConfig
@inject NavigationManager navManager
@inject HttpClient http

@if (orders.Count != 0)
    foreach (var order in orders)
    {
        <OrderCardView Order="order" Client="client" />
    }

@code
{
    public string Email { get; set; }

    List<OrderViewModel> orders;
    EatUppClient client;

    protected override async void OnInitialized()
    {
        orders = new List<OrderViewModel>();

        var authState = await authenticationConfig.GetAuthenticationStateAsync();

        Email = authState.User.Claims.Where(claim => claim.Type == "email").FirstOrDefault().Value;

        if (string.IsNullOrEmpty(http.DefaultRequestHeaders.Authorization?.Parameter))
            await authenticationConfig.SetAuthorizationHeader();

        if (!string.IsNullOrEmpty(Email))
        {
            client = new EatUppClient(Email, jsRuntime);
            await client.Start();
        }

        EatUppClient.OrderReceived += OrderReceived;
    }

    private void OrderReceived(OrderReceivedEventArgs args)
    {
        orders.Add(args.Order);
        StateHasChanged();
    }
}