
#bbb {
  font-family: "Lobster", cursive;
  font-size: 18px;
  color: white;
  /* background-color: #2d999d; */
  border: none;
  text-align: left;
}

#secondsm {
  border-right: 2px solid #88b3b7;
}
#threesm {
  border-right: 2px solid #88b3b7;
}
#text {
  font-family: "Dancing Script", cursive;
  color: white;
  text-align: left;
  font-size: 12px;
}
#texth6 {
  font-family: "El Messiri", sans-serif;
  color: white;
}
#bbb1 {
  background-color: #2d999d;
  color: white;
  border: 1px solid#88b3b7;
}
body* {
  background-image: linear-gradient(to right, #2d999d, #1f6766);
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #2d999d, #1f6766);
outline: 1px solid slategrey;
}


html {
background:linear-gradient(to right, #2d999d, #1f6766);
height: 100%;
overflow: hidden;
}
body {
height: 100%;
background:linear-gradient(to right, #2d999d, #1f6766);
overflow: scroll;
max-width: 100%;
margin: 0 auto;
/* padding: 3em; */
font: 100%/1.4 serif;
border: 1px solid rgba(0,0,0,0.25)
}
p {
margin: 0 0 1.5em;
}




Resources