﻿.personInfoCont {
    display: flex;
    flex-direction: row;
    height: inherit;
    background: #146363;
    border-bottom: #88b3b7;
    right: 0px;
    position: absolute;
}

.OrderCard {
    display: flex;
    flex-direction: row;
    padding: 25px;
    border-bottom: 1px solid #88b3b7;
}

    .OrderCard:hover {
        background-color: rgba(255, 255, 255, .1);
    }

.OrderCardName {
    background: rgb(30, 30, 30);
    color: white;
    height: 150px;
    text-align: center;
}

.card-body p {
    margin: auto;
}

.PersonIcon {
    width: auto;
    height: 100%;
}

.eatUppLogo {
    height: 100%;
}

.EatUppSidebar {
    background: #146363;
    width: 20%;
}