﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.EatUppHomepage {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-image: url(../Images/WellcomeToEatUpp.svg);
    background-size: cover;
}

.EatUppSignPage {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-image: url(../Images/SignEatUpp.svg);
    background-size: cover;
    overflow-y: scroll;
}

.EatUppSignUpBtnCont {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 55%;
    left: 28%;
}

.EatUppLogInCont {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 38%;
    left: 75%;
}

.EatUppSignUpCont {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 28%;
}

.fields {
    margin-top: 1%;
}

.loaderBack {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-image: url(../Images/Background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.loader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.EatUppOrder {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 250px
}

.fields h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #fff;
    line-height: 1;
}

.general a {
    text-decoration: none;
    background: #227171;
    color: #fff;
    display: table-cell;
    padding: 10px 10px;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
    bottom: 0;
    right: 0;
}

.general:hover a {
    background: rgba(0,0,0,0.5);
    color: #fff;
}

.general:hover .price {
    border-color: #fff;
}

.general:hover {
    background: rgba(34, 113, 113, 0.2);
    color: #fff;
    transform: scale(1.01);
    z-index: 1;
    border-radius: 9px;
}

.rname {
    height: 50px;
    width: 700px;
    border-radius: 10%;
    border: solid 2px #227171;
    margin: 5% auto 0 auto;
    text-align: center;
}

    .rname h2 {
        font-size: 38px;
        color: #fff;
    }

.general {
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
    text-align: justify;
    height: auto;
    margin: 5% 5% 5%;
    transition: 0.2s;
    padding-left: 2%;
}

.boody {
    font-family: Papyrus;
    margin: auto;
}

.EatUppInput {
    height: 35px;
    background-color: transparent;
    color: white;
}

    .EatUppInput:focus {
        outline: none;
        box-shadow: none;
        text-shadow: none;
    }

.EatUppLabel {
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
}

.EatUppBtn {
    margin-top: 10px;
    background-color: transparent;
    border-color: white;
    color: white;
    width: 280px;
}

.EatUppBtnReject {
    margin-top: 10px;
    background-color: transparent;
    border-color: white;
    color: white;
    width: 280px;
}

    .EatUppBtnReject:hover {
        background-color: lightcoral;
        color: white;       
    }

    .list p {
        margin: auto;
        font-family: Myriad Pro;
        font-size: 12px;
        color: white;
    }

.progress {
    background-color: #ccc;
    width: 100%;
    height: 10px;
}

progress:not([value]) {
    background: #ccc;
}

.progress-bar {
    float: left;
}

    .progress-bar.white {
        background-color: white;
        height: 100%;
    }

.LinkHover:hover {
    cursor: pointer;
    
    text-decoration-line: underline;
}

.EatUppBtn:hover {
    background-color: white;
    color: black;
}

.EatUppBtnApprove:hover {
    background-color: lightseagreen;
    color: white;
}

.customerPageCont {
    background: url(../Images/Background.svg);
    width: 80%;
    position: fixed;
    background-size: cover;
    overflow: scroll;
    height: 100%;
}

.EatUppImage {
    background-image: url(../Images/logo.jpg);
    background-size: cover;
    width: 345px;
    margin-right: 15px;
}

.EatUppPercentage {
    position: absolute;
    right: 0px;
}

.restaurantCardCont {
    margin: 15px 15px 15px 15px;
    background: transparent;
    border-radius: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
}

    .restaurantCardCont:hover {
        background-color: rgba(255, 255, 255, .1);
        color: black;
    }

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
.star{
    display: contents;
    cursor: pointer;
    font-size: 10px;
    color: white;
    font-weight:bold;
    }

.star p{
    display:contents;
}
.star p:hover {
    color: red;
    }
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
