
#bbb {
  font-family: "Lobster", cursive;
  font-size: 18px;
  color: white;
  /* background-color: #2d999d; */
  border: none;
  text-align: left;
}

#secondsm {
  border-right: 2px solid #88b3b7;
}
#threesm {
  border-right: 2px solid #88b3b7;
}
#text {
  font-family: "Dancing Script", cursive;
  color: white;
  text-align: left;
  font-size: 12px;
}
#texth6 {
  font-family: "El Messiri", sans-serif;
  color: white;
}
#bbb1 {
  background-color: #2d999d;
  color: white;
  border: 1px solid#88b3b7;
}
body* {
  background-image: linear-gradient(to right, #2d999d, #1f6766);
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #2d999d, #1f6766);
outline: 1px solid slategrey;
}

.customRow {
    max-height: 80px;
}

.progress_bar .pro-bar {
    background: hsl(0, 0%, 93%);
    border-radius: 3px;
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    position: relative;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: width, background-color;
    transition-timing-function: linear;
}

.progress_bar .progressbar-title {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 0;
}

    .progress_bar .progressbar-title > span {
        background: hsla(0, 0%, 0%, 0.1);
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        display: block;
        height: 35px;
        line-height: 35px;
        padding: 0 20px;
        text-transform: uppercase;
    }

.progress_bar .progress-bar-inner {
    border-radius: 3px;
    width: 0;
    height: 35px;
}

.progress_bar .progress_number {
    color: hsla(0, 0%, 0%, 0.4);
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 0;
}


html {
    background: linear-gradient(to right, #2d999d, #1f6766);
    height: 100%;
    overflow: hidden;
}
body {
height: 100%;
background:linear-gradient(to right, #2d999d, #1f6766);
overflow: scroll;
max-width: 100%;
margin: 0 auto;
/* padding: 3em; */
font: 100%/1.4 serif;
border: 1px solid rgba(0,0,0,0.25)
}


/*p {
margin: 0 0 1.5em;
}*/